*
{
    margin: 0;
    padding: 0;
}

.button
{
    background-color: #05090C;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
    font: 500 16px/1 Montserrat, sans-serif;
    color: #fff;
}

.text_extra
{
    color: #EE58B6;
}

.title
{
    margin: 26px;
    font: 500 48px/1.26 Montserrat, sans-serif;
}

.header
{
    margin: 30px 103px 70px 120px;
    display: flex;
    justify-content: space-between;
}


.menu
{
    display: flex;
    align-items: center;
}

.navigation
{
    margin-top: 3px;
}

.navigation__item
{
    font: 500 16px/1 Montserrat, sans-serif;
    text-decoration: none;
    color: #000;
    margin-left: 83px;
}

.navigation__button
{   margin-right: 1px;
    margin-left: 99px;
    margin-top: 1px;
    padding: 20px 42px;

}

.main
{
    margin-top: 73px;
    display: flex;
    justify-content: space-between;

}

.about
{
    margin: 195px 30px 5px 178px;
}

.about__title
{
    font: 600 100px/0.32 Montserrat, sans-serif;
}

.about__text
{
    color: #000000B2;
    font: 400 26px/1.2 Roboto Condensed, sans-serif;
    margin: 66px 0 46px;
    padding-right: 130px;
}

.about__button
{
    padding: 19.5px 84.5px;
}

.main__image
{
    margin-right: 188px;
}

.short-description
{
    margin-top: 64px;
    display: flex;
    width: 100%;
    height: 398px;
    background: #000;
    justify-content: center;
}

.short-descritpion__content
{
    width: 1138px;
    margin-top: 111px;
    display: flex;
    justify-content: space-between;
}

.short-description__time
{
    width: 285px;
    height: 145px;
}

.image-time
{
    margin-left: 127px;
    margin-top: 5px;
}

.text-time
{
    margin-top: 21px;
    width: 303px;
    height: 52px;
    font: 400 22px/1.2 Roboto Condensed, sans-serif;
    color: #fff;
    text-align: center;
}

.short-description__notebook
{
    width: 337px;
    height: 145px;
}

.image-notebook
{
    margin-left: 150px;
}

.text-notebook
{
    margin-top: 17px;
    margin-left: 13px;
    width: 337px;
    height: 52px;
    font: 400 22px/1.2 Roboto Condensed, sans-serif;
    color: #fff;
    text-align: center;
}

.short-description__target
{
    width: 293px;
    height: 145px;
}

.image-target
{
    margin-left: 125px;
}

.text-target
{
    margin-top: 17px;
    margin-left: 4px;
    width: 303.95px;
    height: 52px;
    font: 400 22px/1.2 Roboto Condensed, sans-serif;
    color: #fff;
    text-align: center;
}

.blog__creation
{
    margin-top: 72px;
    width: 1136px;
    height: 520px;
    display: flex;
}

.blog__timemanagment_image
{
    margin-left: 365px;
    width: 538px;
    height: 476px;
}

.timemanagment_content
{
    margin-top: 237px;
    margin-left: 52px;
}

.title-creation
{
    width: 376px;
    height: 61px;
    font: 500 48px/38px Montserrat, sans-serif;
    color: #000;
}

.text-creation
{
    margin-top: 14px;
    margin-left: 1px;
    width: 574px;
    height: 48px;
    font: 400 18px/24px Roboto Condensed, sans-serif;
    color: #000000B2;;
}

.blog__deadline
{
    margin-top: 34px;
    margin-left: 290px;
    width: 1135px;
    height: 691px;
    display: flex;
    justify-content: flex-end;
}

.blog__blowing_image
{
    width: 377px;
    height: 620px;
    margin-left: 81px;
}

.deadline_content
{
    margin-top: 262px;
}

.title-deadline
{
    width: 386px;
    height: 61px;
    font: 500 48px/38px Montserrat, sans-serif;
    color: #000;
}

.text-deadline
{
    margin-top: 14px;
    width: 574px;
    height: 44px;
    font: 400 18px/24px Roboto Condensed, sans-serif;
    color: #000000B2;;
}

.todo
{
    margin-top: 38px;
    margin-left: 16px;
    display: flex;
    align-items: center;
    flex-direction: column;
}


.todo__block
{
    margin-top: 18px;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.todo-item
{
    box-sizing: border-box;
    margin: 15px;
    padding: 33px 33px 45px 40px;
    background: #000;
    width: 358px;
    border-radius: 7px;
}

.todo-item__image
{
    height: 48px;
}

.todo-item__text
{
    margin-top: 18px;
    font: 400 18px/1.15 Roboto Condensed, sans-serif;
    color: #fff;
}

.todo-item__text_first
{
    width: 269.77px;
}

.todo-item__text_second
{
    width: 269.77px;
}

.todo-item__text_third
{
    width: 238.77px;
}

.todo-item__text_fourth
{
    width: 263.77px;
}

.todo-item__text_fifth
{
    width: 209.77px;
}

.todo-item__text_sixth
{
    width: 286px;
}

.footer
{
    margin-top: 275px;
    background: #000;
    height: 108px;
}

.footer__logo
{
    padding-top: 29px;
    padding-left: 878px;
    width: 167px;
    height: 48px;
    text-align: center;
    align-content: center;
}